code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  zoom: 1;
}

@media (pointer: fine) {
  html,
  body {
    zoom: 1;
  }
}

/* self */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

body {
  touch-action: pan-x pan-y;
  color: hsl(var(--text-def));
  background: hsl(var(--bg-def));
}

input,
textarea {
  color: hsl(var(--text-def));
  background: rgba(0, 0, 0, 0);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* display: none; */
  -webkit-appearance: none;
}

div,
button,
input,
div:focus,
button:focus,
input:focus {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

div,
button {
  user-select: none;
}

input,
textarea {
  user-select: text;
  -webkit-appearance: none;
}
